body {
  @apply bg-green-600;
  @apply bg-opacity-60;
  font-family: 'Rubik';
}

h2 {
  @apply text-lg;
  @apply text-center;
}

h3 {
  @apply text-7xl;
  @apply text-center;
  @apply font-extralight;
  @apply mb-20;
  @apply font-serif;
}

p {
  @apply pb-6;
}

p:last-child {
  @apply pb-0;
}

/* Buttons */
button {
  @apply transition-colors;
  @apply duration-500;
  @apply font-semibold;
  @apply bg-transparent;
  @apply hover:bg-white;
  @apply hover:text-green-400;
  @apply text-white;
  @apply py-2;
  @apply px-4;
  @apply border-2;
  @apply border-white;
  @apply hover:border-transparent;
  @apply rounded;
}

/* Forms */
label {
  @apply block;
  @apply mb-2;
  @apply mt-4;
}

label:first-of-type {
  @apply mt-0;
}

input,
textarea {
  @apply shadow;
  @apply appearance-none;
  @apply border;
  @apply rounded;
  @apply w-full;
  @apply py-2;
  @apply px-3;
  @apply text-gray-700;
  @apply leading-tight;
  @apply focus:outline-none;
}

/* Links */
a {
  @apply cursor-pointer;
}

a.active {
  @apply border-b-2;
  @apply border-green-500;
}

a:not(.noStyle):hover {
  @apply text-gray-50;
  @apply transition-colors;
  @apply duration-300;
}

.bgVisible a:not(.noStyle):hover {
  @apply text-green-500;
  @apply transition-colors;
  @apply duration-300;
}

/* Swiper overrides */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-white;
}
